[submodule "src/legged_ctrl/src/mpc_ctrl/ci_mpc/lib/EmbeddedLciMpc.jl"]
	path = src/legged_ctrl/src/mpc_ctrl/ci_mpc/lib/EmbeddedLciMpc.jl
	url = https://github.com/RoboticExplorationLab/EmbeddedLciMpc.jl.git
	branch = a1_baseline
[submodule "src/legged_ctrl/src/mpc_ctrl/ci_mpc/lib/ContactImplicitMPC.jl"]
	path = src/legged_ctrl/src/mpc_ctrl/ci_mpc/lib/ContactImplicitMPC.jl
	url = https://github.com/johnzhang3/ContactImplicitMPC.jl.git
[submodule "src/legged_ctrl/src/estimation/CasadiEKF"]
	path = src/legged_ctrl/src/estimation/CasadiEKF
	url = https://github.com/ShuoYangRobotics/legged-kalman-filter.git
	branch = stable
